*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

background:#111;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:25px;

color:white;

}

.container{

width:100%;

max-width:420px;

}

.icon{

font-size:60px;

text-align:center;

margin-bottom:15px;

}

h1{

text-align:center;

margin-bottom:10px;

}

.subtitle{

text-align:center;

color:#bdbdbd;

margin-bottom:30px;

}

.card{

background:#1c1c1c;

padding:25px;

border-radius:18px;

}

.campo{

margin-bottom:25px;

}

.campo span{

display:block;

font-size:13px;

color:#9e9e9e;

margin-bottom:6px;

}

.campo strong{

font-size:18px;

}

.wifi-area{

display:flex;

gap:10px;

margin-top:8px;

}

.wifi-area input{

flex:1;

padding:12px;

border:none;

border-radius:8px;

background:#2c2c2c;

color:white;

}

.wifi-area button{

padding:12px 18px;

border:none;

border-radius:8px;

background:white;

font-weight:bold;

cursor:pointer;

}

.wifi-area button:hover{

opacity:.9;

}
