*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{

    background:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    padding:25px;

    color:white;

}

.container{

    width:100%;
    max-width:420px;

}

.pix-icon{

    font-size:55px;

    color:#39FF00;

    text-align:center;

    margin-bottom:20px;

}

h1{

    text-align:center;

    font-size:30px;

    margin-bottom:10px;

}

.descricao{

    text-align:center;

    color:#bfbfbf;

    margin-bottom:35px;

}

.campo{

    margin-bottom:28px;

}

label{

    display:block;

    text-align:center;

    margin-bottom:12px;

    font-size:15px;

    color:#bdbdbd;

}

.valor{

    text-align:center;

    font-size:22px;

    font-weight:bold;

    color:white;

    margin-top:5px;

}

.chave{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    margin-top:5px;

}

.chave-texto{

    font-size:22px;

    font-weight:bold;

    color:#39FF00;

    word-break:break-word;

    text-align:center;

}

button{

    background:none;

    border:none;

    cursor:pointer;

    font-size:21px;

    color:#39FF00;

    transition:.25s;

    padding:5px;

    flex-shrink:0;

}

button:hover{

    transform:scale(1.1);

}

#mensagem{

    margin-top:22px;

    text-align:center;

    color:#39FF00;

    font-size:14px;

    line-height:1.5;

    min-height:45px;

}
